



    .bodyform{

        background-color: rgba(255, 72, 0, 0.96);
        display: flex;
        padding: 0;
        margin: 0;
        color: rgb(255, 255, 255);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    
    

    
    
 
        background-color:rgba(255, 72, 0, 0.96);
       display: flex; 
       justify-content: center;
       align-items: center;
       height: 100vh;
    
    form{
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       margin: 10px;
        gap: 15px;
        border-radius: 15px;
        background-color:  #452009 ;
    } 
   
    form input{
        background-color:#2c1405;
        padding: 5px;
        width: minmax(40px,auto-fill);
        flex-grow: 1;
        color: white;
        font-size: larger;
    }
    form input::placeholder{
        color: white;
        font-size: larger;
    }
    
    #submit{
        background-color:  #271001;
        border-radius: 9px;
        border: none;
        box-shadow: #4e270f;
    }










    .formvideo{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
      
       .itemvideo  {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        flex-grow: 1;
        background-color: #a95f31;
        height: 65px;
        border-radius: 20px;
        padding: 10px;
      } 
      
      #iconadd {
        font-size: 35px;
        color: #000; /* Changez la couleur selon vos besoins */
        cursor: pointer;
      }
      #iconremove{
        font-size: 35px;
        color: #000; /* Changez la couleur selon vos besoins */
        cursor: pointer;
      }
      
    }


